body,
html {
	height: 100%;
}
.subheader {
	font-size: 4rem;
	color: red;
}
#clicker {
	width: 300px;
}
#name {
	text-decoration: underline;
	text-decoration-color: rgb(247, 227, 163)
}
#remove {
	margin-top: -2% !important;
}
.bold {
	font-weight: bold;
}
.bigger {
	font-size: 1.7rem;
}
.copyright {
	position: absolute;
	bottom: 0;
	right:2%;
}
.recipe-recipe {
	list-style-type: decimal !important;
	list-style-position: inside !important;
	margin: 0!important;
	padding: 0!important;

}
.recipe-ing {
	list-style-type: none !important;
	list-style-position: inside !important;
	margin: 0!important;
	padding: 0!important;

}
.background {
	background-image: url("../img/gmcbmain2.jpg") !important;
	background-size: contain;
	background-position: center bottom;
	height: 100%;
	padding: 0 !important;
}
.background2 {
	background-image: url("../img/gmcbmainlight.jpg") !important;
	background-size: contain;
	background-position: center bottom;
	height: 100%;
	padding: 0 !important;
}
.background-des {
	background-image: url("../img/Desert.jpg") !important;
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0 !important;
}
.background-mains {
	background-image: url("../img/mains-width.jpg") !important;
	background-size: cover;
	height: 100%;
	padding: 0 !important;
}
.background-sides {
	background-image: url("../img/sides-width.jpg") !important;
	background-size: cover;
	height: 100%;
	padding: 0 !important;
}
.intro {
	font-family: 'Anton', sans-serif;
	color: white;
	margin-left: -10%;
}

.intro span {
	font-size: 2.5rem;
}

.parallax {
	/* The image used */
	background-image: url("img/tomato-length.jpg");

	/* Set a specific height */
	min-height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	position: relative;
}

.mains {
	width: 870px;
	position: absolute;
	top: 38%;
	left: 34%;
	display: none;
}

.mainsclick {
	position: absolute;
	left: 35%;
	bottom: 5%;
}

.sidesclick {
	position: absolute;
	right: 2%;
	top: 14%;
}

.dessertclick {
	position: absolute;
	left: 10%;
	top: 0;
}
.subheader span {
	color: black;
}


/* reuseables */
.white {
	color: white;
}
.paddersml {
	height: 25px;
}
.paddermed {
	height: 100px;
}
.padderlg {
	height: 250px;
}
.padderbg {
	height: 75px;
}
/* container */
.top-banner {
padding: 0 !important;
margin-bottom: 2%;;
}
.card-body {
	background-color: rgba(255, 255, 255, 0.473);
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10% !important;
	padding: 0 !important;
}
.image-wrap {
	background-color: rgb(214, 194, 168);
	height: 211px!important;
	width: 250px!important;
	z-index: 5;
	position: relative;
	
}
.image-wrap-inner {
	background-color: rgb(255, 255, 255);
	height: 191px!important;
	width: 230px!important;
	z-index: 10;
	position: absolute;
	top: 10px !important;
	left: 10px;
	border-top-right-radius: 40%;
	overflow: hidden;
	border: 2px white solid;
}
.tab {
	background-color: white;
	width: 5px;
	height: 45px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.col-mar {
	width: auto !important;
}
.card {
	margin: 30px;
	border: none;
	outline: none !important;
	position: relative;
	box-shadow: 0 0 10px 10px rgb(0, 0, 0);
	background-color: rgb(44, 44, 44) !important;
	font-size: 1rem !important;
	border-right: 5px !important;
	border-color: white;
}
.pad-wrap {
	background-color: rgb(255, 255, 255) !important;
	/* background-image: url("../img/chalklg.png");
    background-size: cover;
    background-repeat: none; */
	height: 600px;
	margin-top: 20px;
	position: relative;
	box-shadow: 1px 0px 10px rgb(0, 0, 0);
}

.recipe-wrap {
	background-color: rgb(5, 5, 5);
	height: auto !important;
	width: auto !important;
	text-align: left;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 1.4rem;
	position: relative;
	box-shadow: 0 0 10px 20px rgb(5, 5, 5);
	/* box-shadow: 1px 0px 10px rgb(0, 0, 0); */
	opacity: 0.8;
	margin-top: 3%;
}

.rec-pic {
	height: 230px !important;
	position: absolute;
	left:0;
}

.name-wrap li {
	padding: 10px;
}

.name-wrapper {
	background-color: white;
	height: 100%;
}

.ingredients {
	height: auto !important;
}

.recipe {
	height: auto !important;
	background: rgb(255, 254, 251);
	border: 3px solid rgb(240, 240, 240);
	padding: 3%;
	margin-left: 0!important;
}

.name {
	padding-left: 0!important;
	margin-left: 0!important;
	
}

.ingredients {
	height: 300px;
}

footer {
	bottom: 0;
	width: 100%;
	background-color: rgb(26, 26, 26) !important;
	height: 50px;
	border-top-left-radius: 100%;
	position: fixed;
	opacity: 0.8;
	z-index: 50;
}

.footpad {
	height: 50px;
}

.carousel-item {
	height: 500px;
}

.buttonx {
	width: 100%;
	border-right: 3px solid rgb(211, 165, 123) ;
	margin: 5%;
	background-color: antiquewhite;
	border-radius: 5%;
	padding: 3%;		
}
.stats {
	background-color: rgb(247, 247, 247);
	width: 250px;
	margin: auto !important;
}
.stats-inner {
	font-size: 1.2rem;
	color: rgb(190, 133, 80);;
}

.subhead-wrap {
	border-top: 2px solid rgb(153, 87, 26);
	border-bottom: 2px solid rgb(153, 87, 26);
	padding-left: 0 !important;
}
.padwrap {
	padding: 0 3% !important;
	margin: 0 !important;
}
.padwrap2 {
	padding: 0 10% !important;
}
.book-title {
	position: absolute;
	bottom: 0;
	left: 5%;
}
/* nav */
.navbar {
	opacity: 0.8;
	background-color: rgb(26, 26, 26) !important;
	height: 50px;
	padding-left: 0 !important;
}

.nav-link {
	font-size: 2.1rem;
}
.navbar-nav {
	margin-left: 2%;
}
.navbar-brand {
	margin-left: 1%;
}

/* reuseable code */
.underline {
	color: rgb(206, 199, 174);
	
}
.font {
	font-family: 'Playfair Display', serif;
}

.mobile {
	display: none;
}

.fader {
	opacity: 0.6;
}

.brown {
	color: rgb(211, 165, 123);
}
.clickon {
	display: none;
}

@media (max-width: 550px) {
	.background-mob {
		background-image: url("../img/tomato-length.jpg") !important;
		min-height: 100%;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0 !important;
	}
	.mainsclick,
	.sidesclick,
	.dessertclick {
		display: none;
	}
	.mobile {
		display: block;
	}
	.desktop {
		display: none;
		height: 1px !important;
	}
	
	.wrap {
		padding: 0 !important;
	}
	.mob-books {
		margin: auto!important;
	}
	.text-center-mob {
		text-align: center;
	}
	.buttonx {
		margin: 5% 0!important ;
	}
	#centerrow.row {
		display: block;
	}
}
