body,
html {
    height: 100%;
    
}

.html {
    position: relative;
}

body {
    background-color: rgb(255, 224, 229) !important;
}

.binder {
    position: absolute;
    top: -48px;
    left: 150px;
    height: 75px;
}
.binder2 {
    position: absolute;
    top: -48px;
    right: 150px;
    height: 75px;
}

.flower {
    position: absolute;
    left: 0;
    opacity: 0.5
}


/* container */
.pad-wrap {
    background-color: white !important;
    /* background-image: url("../img/chalklg.png");
    background-size: cover;
    background-repeat: none; */
    height: 600px;
    margin-top: 20px;
    position: relative;
    box-shadow: 1px 0px 10px rgb(212, 212, 212) ;
}

footer {
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 100px;
    border-top-right-radius: 100%;
    position: absolute;
}

/* nav */
.navbar-wrap {
    top: 0;
    width: 100%;
    background-color: white;
    height: 110px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
    }

.logo {
    margin-top: 2% !important;
}

/* reuseable code */

.font {
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 550px) {
    .flower {
        display: none;
    }
    .binder {
        left: 5px;
    }
    .binder2 {
        right: 5px;
    }
    .pad-wrap {
        height: 400px;
    }
}